# Preprocesamiento de datos

Tablas necesarias para el desarrollo del Dashboard

In [27]:
import pandas as pd

In [103]:
file_path = '../data/processed/Internet - Copy.xlsx'

# Cargar el libro completo como un diccionario de DataFrames
excel_data = pd.read_excel(file_path, sheet_name=None)

print("Hojas disponibles:", excel_data.keys())

Hojas disponibles: dict_keys(['Penetracion-totales', 'Penetracion-hogares', 'Penetración-poblacion', 'Totales Accesos Por Tecnología', 'Accesos Por Tecnología', 'Totales VMD', 'Velocidad % por prov', 'Ingresos'])

In [104]:
# Cargar una hoja específica
dfProvincias = pd.read_excel(file_path, sheet_name='Velocidad % por prov')

print(dfProvincias.head())

    Año  Trimestre        Provincia  Mbps (Media de bajada)
0  2024          2     Buenos Aires                  157.41
1  2024          2  Capital Federal                  233.01
2  2024          2        Catamarca                   97.38
3  2024          2            Chaco                  107.76
4  2024          2           Chubut                   21.67

In [105]:
columnasEliminar = ['Año', 'Trimestre', 'Mbps (Media de bajada)']
dfProvincias.drop(columnasEliminar, axis=1, inplace=True)

In [106]:
dfProvincias.drop_duplicates(inplace=True)

In [107]:
dfProvincias['ID'] = dfProvincias.index + 1  # Si el índice empieza en 0, sumamos 1
dfProvincias['ID'] = dfProvincias['ID'].apply(lambda x: f'{x:03d}')

dfProvincias['Country'] = 'Argentina'

dfProvincias.shape

(24, 3)

In [108]:
dfProvincias.to_csv('../data/processed/Provincias.csv', index=False)

In [98]:
# Cargar una hoja específica
dfAnios = pd.read_excel(file_path, sheet_name='Velocidad % por prov')

print(dfAnios.head())

    Año  Trimestre        Provincia  Mbps (Media de bajada)
0  2024          2     Buenos Aires                  157.41
1  2024          2  Capital Federal                  233.01
2  2024          2        Catamarca                   97.38
3  2024          2            Chaco                  107.76
4  2024          2           Chubut                   21.67

In [99]:
columnasEliminar = ['Provincia', 'Trimestre', 'Mbps (Media de bajada)']
dfAnios.drop(columnasEliminar, axis=1, inplace=True)
dfAnios.drop_duplicates(inplace=True)
dfAnios.sort_values('Año', ascending=True, inplace=True)
dfAnios.reset_index(drop=True, inplace=True)

In [100]:
dfAnios.head()

    Año
0  2014
1  2015
2  2016
3  2017
4  2018

In [101]:
dfAnios['ID_Anio'] = dfAnios.index + 1  # Si el índice empieza en 0, sumamos 1
dfAnios['ID_Anio'] = dfAnios['ID_Anio'].apply(lambda x: f'{x:03d}')

dfAnios

     Año ID_Anio
0   2014     001
1   2015     002
2   2016     003
3   2017     004
4   2018     005
5   2019     006
6   2020     007
7   2021     008
8   2022     009
9   2023     010
10  2024     011

In [102]:
dfAnios.to_csv('../data/processed/Años.csv', index=False)

In [118]:
# Cargar una hoja específica
dfAccesosTecnologiaProvincia = pd.read_excel(file_path, sheet_name='Accesos Por Tecnología')

print(dfAccesosTecnologiaProvincia.head())

    Año  Trimestre        Provincia    ADSL  Cablemodem  Fibra óptica  \
0  2024          2     Buenos Aires  214055     2722466       1849476
1  2024          2  Capital Federal   54102     1144781        230402
2  2024          2        Catamarca    4951       10303         58355
3  2024          2            Chaco    9448       57935         68944
4  2024          2           Chubut   25955       80704         26516

   Wireless  Otros    Total
0    138638  64745  4989380
1      4493  29821  1463599
2      1384     81    75074
3      8407   2358   147092
4     31118   9930   174223

In [119]:
dfAccesosTecnologiaProvinciaAnual = dfAccesosTecnologiaProvincia.groupby(['Año', 'Provincia'])\
    [['ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless', 'Otros', 'Total']].mean().round(2).reset_index()
dfAccesosTecnologiaProvinciaAnual.head()

,Año,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2014,Buenos Aires,1568769.25,1051783.00,121492.50,17831.25,32722.50,2792598.50
1,2014,Capital Federal,449786.50,830549.50,17634.25,1926.50,14722.75,1314619.50
2,2014,Catamarca,24519.50,193.50,16.25,0.00,44.25,24773.50
3,2014,Chaco,53659.25,10155.25,30.00,0.25,59.25,63904.00
4,2014,Chubut,49973.50,638.25,876.25,11461.25,6655.50,69604.75

In [120]:
columnas = ['ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless', 'Otros']

for columna in columnas:
    dfAccesosTecnologiaProvinciaAnual[columna] = round(dfAccesosTecnologiaProvinciaAnual[columna] * 100 / dfAccesosTecnologiaProvinciaAnual['Total'], 2)
    
dfAccesosTecnologiaProvinciaAnual.drop(columns=['Total'], inplace=True)
dfAccesosTecnologiaProvinciaAnual.head()

    Año        Provincia   ADSL  Cablemodem  Fibra óptica  Wireless  Otros
0  2014     Buenos Aires  56.18       37.66          4.35      0.64   1.17
1  2014  Capital Federal  34.21       63.18          1.34      0.15   1.12
2  2014        Catamarca  98.97        0.78          0.07      0.00   0.18
3  2014            Chaco  83.97       15.89          0.05      0.00   0.09
4  2014           Chubut  71.80        0.92          1.26     16.47   9.56

In [121]:
dfAccesosTecnologiaProvinciaAnual.to_csv('../data/processed/AccesosTecnologiaProvinciaAnual.csv', index=False)